<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Query result</title>
    <link rel="stylesheet" href="/styles/styles.css" type="text/css">
  </head>
  <body>
    <h1>User info:</h1>
    <p>Name: <%= user.firstname %> <%= user.lastname %></p>
    <p>Address: <%= user.address %></p>
    <p>emailaddress: <%= user.emailaddress %></p>
    <p>password: <%= user.password %></p>
    <a href="/"><button>Menu</button></a>
  </body>
</html>
